{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>

    <h2>Add Customer to Our Database</h2>
    <form action="" method="post" name="login">
      {{ customerForm.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <!-- Customer Form Fields -->
        <p>
          First Name:<br>
          {{ customerForm.first_name(size=120) }}<br>
        </p>
        <p>
          Last Name:<br>
          {{ customerForm.last_name(size=120) }}<br>
        </p>
        <p>
          Company Name:<br>
          {{ customerForm.company(size=120) }}<br>
        </p>
        <p>
          Customer email:<br>
          {{ customerForm.email(size=120) }}<br>
        </p>
        <p>
          Phone:<br>
          {{ customerForm.phone(size=120) }}<br>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h2>Add an Address</h2>
          {{ addressForm.hidden_tag() }}
            <p>
              Street Address:<br>
              {{ addressForm.street_address(size=120) }}<br>
            </p>
            <p>
              City:<br>
              {{ addressForm.city(size=120) }}<br>
            </p>
            <p>
              State:<br>
              {{ addressForm.state(size=120) }}<br>
            </p>
            <p>
              Country:<br>
              {{ addressForm.country(size=120) }}<br>
            </p>
            <p>
              Zipcode:<br>
              {{ addressForm.zip_code(size=120) }}<br>
            </p>
          </div>
      </div>
      <p><input type="submit" value="Create Customer"></p>
    </form>
  </div>
</div>
{% endblock %}
