{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    
    <h2>Add Customer to Our Database</h2>
    <form action="" method="post" name="login">
      {{ customerForm.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Company name:<br>
          {{ customerForm.company(size=120) }}<br>
        </p>
        <p>
          Customer email:<br>
          {{ customerForm.email(size=120) }}<br>
          Customer First Name:<br>
          {{ customerForm.first_name(size=120) }}<br>
          Customer Last Name:<br>
          {{ customerForm.last_name(size=120) }}<br>
          Customer Phone Number:<br>
          {{ customerForm.phone(size=120) }}<br>
          <!-- Additional form fields for the customer should go here -->
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Customer Address:<br>
          {{ addressForm.street_address(size=120) }}<br>
          City:<br>
          {{ addressForm.city(size=120) }}<br>
          State:<br>
          {{ addressForm.state(size=120) }}<br>
          Country:<br>
          {{ addressForm.country(size=120) }}<br>
          Zip Code:<br>
          {{ addressForm.zip_code(size=120) }}<br>
          <!-- Additional form fields for the customer should go here -->
        </p>
        <!-- Additional form fields for the Address should go here -->

      </div>
      <p><input type="submit" value="Create Customer"></p>
    </form>
  </div>
</div>
{% endblock %}
