{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
              <th data-field="phone">Phone</th>
              <th data-field="country">Country</th>
              <th data-field="state">State</th>
              <th data-field="city">City</th>
            </tr>
          </thead>
          {% for customer in customers %}
            <tr>
              <td>{{ customer['company'] }}</td>
              <td>{{ customer['email'] }}</td>
              <td>{{ customer['phone'] }}</td>
              <td>{{ customer['country'] }}</td>
              <td>{{ customer['state'] }}</td>
              <td>{{ customer['city'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      <div class="divider"></div>
      <div class="section">
        <h3>Orders from Customers:</h3>
        <!-- Display all the current existing order information here -->
        <table class="striped">
          <thead>
            <tr>
              <th data-field="name_of_part">Part</th>
              <th data-field="manufacturer_of_part">Manufacturer</th>
            </tr>
          </thead>
          {% for order in orders %}
            <tr>
              <td>{{ order['name_of_part'] }}</td>
              <td>{{ order['manufacturer_of_part'] }}</td>
            </tr>
          {% endfor %}
        </table>

      </div>
      <div class= "section">
        <a href="{{ url_for('create_order') }}">Add an Order</a>
      <div class="divider"></div></div>
    </div>
  </div>
{% endblock %}
